In [ ]:
# Biblioteca para manuseamento de dados
import pandas as pd

# Biblioteca para criar gráficos
import plotly.express as px
import plotly.graph_objects as go

#7DaysOfCode - Python Pandas 1/7: Importação de dados


O desafio do primeiro dia é subir os arquivos encontrados neste [link](https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/tree/main/Dia_1-Importando_dados/Datasets/dados_emprestimos?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Python+Pandas+1%2F7%3A+Importa%C3%A7%C3%A3o+de+dados&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Python+Pandas+-+1%C2%AA+Ed+%29+1%2F7) e juntar com [os exemplares](https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Python+Pandas+1%2F7%3A+Importa%C3%A7%C3%A3o+de+dados&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Python+Pandas+-+1%C2%AA+Ed+%29+1%2F7) para formar um único DataFrame.

In [ ]:
# subindo todas as planilhas de empréstimos a partir do github
# dados podem ser encontrados no link acima

df_2010_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv')
df_2010_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv')
df_2011_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv')
df_2011_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv')
df_2012_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv')
df_2012_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv')
df_2013_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv')
df_2013_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv')
df_2014_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv')
df_2014_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv')
df_2015_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv')
df_2015_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv')
df_2016_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv')
df_2016_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv')
df_2017_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv')
df_2017_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv')
df_2018_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv')
df_2018_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv')
df_2019_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv')
df_2019_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv')
df_2020_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv')

In [ ]:
# Juntando em um único DataFrame

df = pd.concat([df_2010_1, df_2010_2, df_2011_1, df_2011_2, df_2012_1, df_2012_2, df_2013_1, df_2013_2,df_2014_1, df_2014_2,
           df_2015_1, df_2015_2, df_2016_1, df_2016_2, df_2017_1, df_2017_2, df_2018_1, df_2018_2,
           df_2019_1, df_2019_2, df_2020_1], axis=0).reset_index(drop=True)

In [ ]:
df.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [ ]:
# excluindo arquivos duplicados

df.drop_duplicates(inplace=True)

In [ ]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2257981 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id_emprestimo         2257981 non-null  int64
 1   codigo_barras         2257981 non-null  object
 2   data_renovacao        972272 non-null   object
 3   data_emprestimo       2257981 non-null  object
 4   data_devolucao        2251510 non-null  object
 5   matricula_ou_siape    2254811 non-null  float64
 6   tipo_vinculo_usuario  2257981 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 137.8+ MB

In [ ]:
dados_exemplares = pd.read_parquet('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet')

In [ ]:
dados_exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [ ]:
dados_exemplares.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

In [ ]:
# unindo os dois dataframes a partir da coluna em comum (código de barras)

df_final = df.merge(dados_exemplares, how='inner')

In [ ]:
df_final.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id_emprestimo         2072522 non-null  int64
 1   codigo_barras         2072522 non-null  object
 2   data_renovacao        910445 non-null   object
 3   data_emprestimo       2072522 non-null  object
 4   data_devolucao        2066344 non-null  object
 5   matricula_ou_siape    2069629 non-null  float64
 6   tipo_vinculo_usuario  2072522 non-null  object
 7   id_exemplar           2072522 non-null  int64
 8   colecao               2072522 non-null  object
 9   biblioteca            2072522 non-null  object
 10  status_material       2072522 non-null  object
 11  localizacao           2072522 non-null  int64
 12  registro_sistema      2072522 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 221.4+ MB

In [ ]:
df_final

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

#7DaysOfCode - Python Pandas 2/7: 👩🏽‍💻 Limpeza de dados

O desafio é retirar colunas não utilizadas e incluir informações importantes para a análise

In [ ]:
df_final.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: float64(1), int64(4), object(8)
memory usage: 221.4+ MB

In [ ]:
# colocando a coluna matricula ou siape no formato certo

df_final['matricula_ou_siape'] = df_final['matricula_ou_siape'].fillna(0).astype(int).astype(str)

In [ ]:
# Retirando coluna Registro Sistema

df_final.drop(axis=1, columns=['registro_sistema'] , inplace=True)

In [ ]:
# criando a coluna CDU e classificando pela localizacao

df_final.loc[df_final.query('localizacao >= 000 & localizacao <= 99').index, ['CDU']] = 'Generalidades. Ciência e conhecimento.'
df_final.loc[df_final.query('localizacao >= 100 & localizacao <= 199').index, ['CDU']] = 'Filosofia e psicologia.'
df_final.loc[df_final.query('localizacao >= 200 & localizacao <= 299').index, ['CDU']] = 'Religião.'
df_final.loc[df_final.query('localizacao >= 300 & localizacao <= 399').index, ['CDU']] = 'Ciências sociais.'
df_final.loc[df_final.query('localizacao >= 400 & localizacao <= 499').index, ['CDU']] = 'Classe vaga. Provisoriamente não ocupada.'
df_final.loc[df_final.query('localizacao >= 500 & localizacao <= 599').index, ['CDU']] = 'Matemática e ciências naturais.'
df_final.loc[df_final.query('localizacao >= 600 & localizacao <= 699').index, ['CDU']] = 'Ciências aplicadas.'
df_final.loc[df_final.query('localizacao >= 700 & localizacao <= 799').index, ['CDU']] = 'Generalidades. Belas artes.'
df_final.loc[df_final.query('localizacao >= 800 & localizacao <= 899').index, ['CDU']] = 'Linguagem. Língua. Linguística.'
df_final.loc[df_final.query('localizacao >= 900 & localizacao <= 999').index, ['CDU']] = 'Geografia. Biografia. História.'

In [ ]:
# trasnformando o arquivo para o formato data

df_final['data_renovacao'] = pd.to_datetime(df_final['data_renovacao'], format='%Y/%m/%d %H:%M:%S.%f')
df_final['data_emprestimo'] = pd.to_datetime(df_final['data_emprestimo'], format='%Y/%m/%d %H:%M:%S.%f')
df_final['data_devolucao'] = pd.to_datetime(df_final['data_devolucao'], format='%Y/%m/%d %H:%M:%S.%f')

#7DaysOfCode - Python Pandas 3/7: Análise exploratória de dados e DateTime

Fazer gráficos mostrando a variação por ano, os meses com mais emprestimos e os horários com mais emprestimos

In [ ]:
df_final.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
2,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
3,717763,L167050,NaT,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2008050352,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
4,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,200722565,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.

In [ ]:
# criando novas colunas com as datas

df_final['ano_emprestimo'] = df_final['data_emprestimo'].dt.year
df_final['mes_emprestimo'] = df_final['data_emprestimo'].dt.month
df_final['dia_emprestimo'] = df_final['data_emprestimo'].dt.day

In [ ]:
# criando um dataframe com a contagem de emprestimos por ano

df_ano = df_final[['ano_emprestimo', 'id_emprestimo']].groupby('ano_emprestimo').count().reset_index()

In [ ]:
# grafico com o número de empréstimos por ano

fig = px.line(df_ano, x="ano_emprestimo", y="id_emprestimo", title='Empresimo por Ano', markers=True)
fig.update_layout(yaxis_title='Número de Empréstimos', xaxis_title='Ano')
fig.show()

In [ ]:
# criando um dataframe em que se é separado os arquivos por ano e por mês

df_ano_mes = df_final[['ano_emprestimo', 'mes_emprestimo','id_emprestimo']].groupby(['ano_emprestimo', 'mes_emprestimo']).count().reset_index()

In [ ]:
# criando um dataframe em que se é separado os arquivos por mês. Não inclui os valores de 2020 por não ser um ano completo

df_mes = df_final.query('ano_emprestimo < 2020')[['mes_emprestimo','id_emprestimo']].groupby('mes_emprestimo').count().reset_index()

In [ ]:
df_ano_mes

     ano_emprestimo  mes_emprestimo  id_emprestimo
0              2010               1           4703
1              2010               2          10266
2              2010               3          19631
3              2010               4          16352
4              2010               5          15889
..              ...             ...            ...
120            2020               1           3585
121            2020               2          10667
122            2020               3          11348
123            2020               5              8
124            2020               6              2

[125 rows x 3 columns]

In [ ]:
df_mes

    mes_emprestimo  id_emprestimo
0                1          63929
1                2         199533
2                3         240837
3                4         208725
4                5         202522
5                6         138121
6                7         123790
7                8         232793
8                9         208234
9               10         188410
10              11         164222
11              12          75796

In [ ]:
# um gráfico de linha apenas com o número por mês

fig = px.line(df_mes, x="mes_emprestimo", y="id_emprestimo", title='Soma dos Livros Emprestados por Mês (2010-2019)', markers=True)
fig.update_layout(yaxis_title='Número de Empréstimos', xaxis_title='Mês')
fig.show()

In [ ]:
fig = px.bar(df_mes, x="mes_emprestimo", y="id_emprestimo", title='Soma dos Livros Emprestados por Mês (2010-2019)')
fig.update_layout(yaxis_title='Número de Empréstimos', xaxis_title='Mês')
fig.show()

In [ ]:
df_final.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU,ano_emprestimo,mes_emprestimo,dia_emprestimo
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.,2010,1,4
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.,2010,3,1
2,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2010,1,4
3,717763,L167050,NaT,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2008050352,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2010,2,11
4,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,200722565,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2010,3,4

In [ ]:
# criado um DataFrame e colocado apenas as horas

df_hora = pd.DataFrame()
df_hora['hora_emprestimo'] = df_final['data_emprestimo'].dt.hour
df_hora['hora_renovacao'] = df_final['data_renovacao'].dt.hour
df_hora['hora_devolucao'] = df_final['data_devolucao'].dt.hour

In [ ]:
df_hora_final = df_hora['hora_emprestimo'].value_counts().reset_index().merge(df_hora['hora_devolucao'].value_counts().reset_index()).sort_values(by='index')
df_hora_final = df_hora_final.merge(df_hora['hora_renovacao'].value_counts().reset_index())
df_hora_final['soma'] = df_hora_final['hora_emprestimo'] + df_hora_final['hora_devolucao'] + df_hora_final['hora_renovacao']

In [ ]:
df_hora_final['index'] = df_hora_final['index'].replace(0, 24)

In [ ]:
fig = px.bar(df_hora_final, x="index", y="soma", title='Horários com mais Movimento nas Bibliotecas')
fig.update_layout(yaxis_title='Número de Movimentações', xaxis_title='Hora')
fig.show()

#7DaysOfCode - Python Pandas 4/7: 👩🏽‍💻 Análise exploratória de dados e Variáveis categóricas

In [ ]:
df_final.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU,ano_emprestimo,mes_emprestimo,dia_emprestimo
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.,2010,1,4
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.,2010,3,1
2,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2010,1,4
3,717763,L167050,NaT,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2008050352,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2010,2,11
4,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,200722565,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2010,3,4

In [ ]:
def gerar_tabela(df, coluna, emprestimos):
  tabela = df[[emprestimos, coluna]].groupby(coluna).count().reset_index().sort_values(by=emprestimos, ascending=False)
  total = tabela[emprestimos].sum()
  tabela['porcentagem'] = tabela[emprestimos].apply(lambda x : x/ total)
  tabela['porcentagem'] = tabela['porcentagem'].apply(lambda x : x * 100)
  tabela['porcentagem'] = tabela['porcentagem'].apply(round)
  tabela.rename(columns={'id_exemplar' : 'numero_emprestimos'}, inplace=True)
  tabela = tabela.reset_index(drop=True)
  return tabela

In [ ]:
# Pergunta: “Como se distribuem os empréstimos de exemplares pelos tipos de vínculo dos usuários?”

gerar_tabela(df_final,'tipo_vinculo_usuario','id_exemplar')

              tipo_vinculo_usuario  numero_emprestimos  porcentagem
0               ALUNO DE GRADUAÇÃO             1612324           78
1           ALUNO DE PÓS-GRADUAÇÃO              302541           15
2                          DOCENTE               70981            3
3  SERVIDOR TÉCNICO-ADMINISTRATIVO               32184            2
4              ALUNO MÉDIO/TÉCNICO               28029            1
5                  DOCENTE EXTERNO               23949            1
6                  USUÁRIO EXTERNO                2509            0
7                           OUTROS                   5            0

In [ ]:
# Quais coleções são mais emprestadas?

gerar_tabela(df_final,'colecao','id_exemplar')

                                  colecao  numero_emprestimos  porcentagem
0                       Acervo Circulante             2053120           99
1                              Multimeios                7954            0
2                             Monografias                4021            0
3                            Dissertações                2406            0
4                     Obras de Referência                1954            0
5            Publicações de Autores do RN                 866            0
6                     Publicações da UFRN                 764            0
7                                   Teses                 714            0
8                                Folhetos                 271            0
9   Necessidades Educacionais Específicas                 130            0
10                     Trabalho Acadêmico                 115            0
11                                Eventos                 101            0
12                    Coleção Mossoroense                  44            0
13                    Coleção Zila Mamede                  30            0
14                   Literatura de Cordel                  24            0
15                            Obras Raras                   8            0

In [ ]:
# Quais são as bibliotecas com mais ou menos quantidade de empréstimos?

gerar_tabela(df_final,'biblioteca','id_exemplar')

,biblioteca,numero_emprestimos,porcentagem
0,Biblioteca Central Zila Mamede,1426122,69
1,Biblioteca Setorial do Centro Ciências da Saúd...,118614,6
2,Biblioteca Setorial da Faculdade de Ciências d...,77609,4
3,Biblioteca Setorial Prof. Alberto Moreira Camp...,66447,3
4,Biblioteca Setorial Profª. Maria Lúcia da Cost...,61478,3
5,Biblioteca Setorial Bertha Cruz Enders - ­Esco...,46040,2
6,Biblioteca Setorial do Centro de Ciências Huma...,40744,2
7,Biblioteca Setorial Dr. Paulo Bezerra - EMCM/R...,32097,2
8,Biblioteca Setorial Profª. Maria José Mamede G...,29089,1
9,Biblioteca Setorial Prof. Rodolfo Helinski - E...,27219,1
10,Biblioteca Setorial Prof. Francisco Gurgel De ...,26923,1
11,Biblioteca Setorial do Núcleo de Educação da I...,23656,1
12,Biblioteca Setorial Prof. Ronaldo Xavier de Ar...,22749,1
13,Biblioteca Setorial Pe. Jaime Diniz - Escola d...,21476,1
14,Biblioteca Setorial do Departamento de Artes -...,17099,1
15,Biblioteca Setorial Prof. Leopoldo Nelson - ­C...,12900,1
16,Biblioteca Setorial do Centro Ciências Sociais...,10533,1
17,Biblioteca Setorial Prof. Dr. Marcelo Bezerra ...,5057,0
18,Biblioteca Setorial Prof. Horácio Nicolas Soli...,4098,0
19,Biblioteca Setorial Moacyr de Góes - CE,1036,0
20,Biblioteca Setorial Árvore do Conhecimento - I...,919,0
21,Biblioteca Setorial do Núcleo de Ensino Superi...,617,0

In [ ]:
# De quais temas da CDU são os exemplares emprestados?

gerar_tabela(df_final,'CDU','id_exemplar')

                                      CDU  numero_emprestimos  porcentagem
0                     Ciências aplicadas.             1425473           69
1                       Ciências sociais.              369536           18
2         Matemática e ciências naturais.               68744            3
3  Generalidades. Ciência e conhecimento.               62521            3
4                               Religião.               62295            3
5                 Filosofia e psicologia.               60563            3
6         Geografia. Biografia. História.                7989            0
7             Generalidades. Belas artes.                7911            0
8         Linguagem. Língua. Linguística.                7490            0

#7DaysOfCode - Python Pandas 5/7: Análise exploratória de dados e Boxplot

In [ ]:
# verificando qual a maior coleção para alunos de graduação

df_final[df_final['tipo_vinculo_usuario'] == 'ALUNO DE GRADUAÇÃO']['colecao'].value_counts()

Acervo Circulante                        1600155
Multimeios                                  4652
Monografias                                 3572
Dissertações                                1152
Obras de Referência                         1047
Publicações de Autores do RN                 595
Publicações da UFRN                          466
Teses                                        245
Folhetos                                     180
Trabalho Acadêmico                            81
Necessidades Educacionais Específicas         73
Eventos                                       57
Coleção Mossoroense                           17
Coleção Zila Mamede                           15
Literatura de Cordel                          11
Obras Raras                                    6
Name: colecao, dtype: int64

In [ ]:
# verificando qual a maior coleção para alunos de pós-graduação

df_final[df_final['tipo_vinculo_usuario'] == 'ALUNO DE PÓS-GRADUAÇÃO']['colecao'].value_counts()

Acervo Circulante                        299201
Dissertações                                934
Obras de Referência                         700
Multimeios                                  559
Teses                                       367
Monografias                                 278
Publicações de Autores do RN                204
Publicações da UFRN                         121
Folhetos                                     60
Necessidades Educacionais Específicas        30
Eventos                                      26
Coleção Mossoroense                          23
Trabalho Acadêmico                           23
Coleção Zila Mamede                          11
Literatura de Cordel                          4
Name: colecao, dtype: int64

In [ ]:
# df com o recorte desejado: alunos de graduação que pegaram emprestado livros do acervo circulante

df_grad = df_final.query('tipo_vinculo_usuario == "ALUNO DE GRADUAÇÃO" & colecao == "Acervo Circulante"')

In [ ]:
# df com o recorte desejado: alunos de pós graduação que pegaram livros do acervo circulantes

df_pos = df_final.query('tipo_vinculo_usuario == "ALUNO DE PÓS-GRADUAÇÃO" & colecao == "Acervo Circulante"')

In [ ]:
def gerar_boxplot(df, ano_emprestimo='ano_emprestimo', mes_emprestimo='mes_emprestimo',eixo_y="id_emprestimo"):
    df_prov = df[[ano_emprestimo, mes_emprestimo, eixo_y]].groupby([ano_emprestimo, mes_emprestimo]).count().reset_index()
    fig = go.Figure()
    fig.add_trace(go.Box(

        y=df_prov[eixo_y],
        x=df_prov[ano_emprestimo],
    ))
    return fig.show()

In [ ]:
gerar_boxplot(df_grad)

In [ ]:
gerar_boxplot(df_pos)

#7DaysOfCode - Python Pandas 6/7: 👩🏽‍💻 JSON, Excel e Pivot_table

Desafio é subir um arquivo excel e outro json e juntar

## Excel

In [ ]:
# subindo as planilhas do excel
# a df_excel_0 é dos alunos registrados antes de 2010 e a df_excel_1 é depois disso

df_excel_0 = pd.read_excel('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_6-Novos_dados_novas_analises/Datasets/matricula_alunos.xlsx', header=1)
df_excel_1 = pd.read_excel('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_6-Novos_dados_novas_analises/Datasets/matricula_alunos.xlsx', header=1, sheet_name=1)

In [ ]:
df_excel_0.head()

   Número da matrícula     Tipo de vinculo                Curso
0          190001688.0  ALUNO DE GRADUAÇÃO           MATEMÁTICA
1          199014489.0  ALUNO DE GRADUAÇÃO  CIÊNCIAS BIOLÓGICAS
2          199735674.0  ALUNO DE GRADUAÇÃO           MATEMÁTICA
3          199812431.0  ALUNO DE GRADUAÇÃO               LETRAS
4          199823670.0  ALUNO DE GRADUAÇÃO             ECOLOGIA

In [ ]:
df_excel_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7726 entries, 0 to 7725
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Número da matrícula  7726 non-null   float64
 1   Tipo de vinculo      7726 non-null   object
 2   Curso                7726 non-null   object
dtypes: float64(1), object(2)
memory usage: 181.2+ KB

In [ ]:
df_excel_0.rename(columns={"Número da matrícula": 'matricula_ou_siape','Tipo de vinculo': 'tipo_vinculo_usuario', "Curso":"curso" }, inplace=True)

In [ ]:
df_excel_0['matricula_ou_siape'] = df_excel_0['matricula_ou_siape'].astype(int).astype(str)

In [ ]:
df_excel_1.head()

     Matricula      Tipo de vinculo                Cursos
0  2.010000e+09  ALUNO DE GRADUAÇÃO               DIREITO
1  2.010000e+09  ALUNO DE GRADUAÇÃO             AGRONOMIA
2  2.010001e+09  ALUNO DE GRADUAÇÃO    ENGENHARIA QUÍMICA
3  2.010003e+09  ALUNO DE GRADUAÇÃO  ENGENHARIA AMBIENTAL
4  2.010003e+09  ALUNO DE GRADUAÇÃO             GEOGRAFIA

In [ ]:
df_excel_1.rename(columns={"Matricula ": 'matricula_ou_siape','Tipo de vinculo': 'tipo_vinculo_usuario', "Cursos":"curso" }, inplace=True)

In [ ]:
df_excel_1['matricula_ou_siape'] = df_excel_1['matricula_ou_siape'].astype(int).astype(str)

In [ ]:
df_excel_1.head()

  matricula_ou_siape tipo_vinculo_usuario                 curso
0         2010000017   ALUNO DE GRADUAÇÃO               DIREITO
1         2010000035   ALUNO DE GRADUAÇÃO             AGRONOMIA
2         2010001290   ALUNO DE GRADUAÇÃO    ENGENHARIA QUÍMICA
3         2010002849   ALUNO DE GRADUAÇÃO  ENGENHARIA AMBIENTAL
4         2010003381   ALUNO DE GRADUAÇÃO             GEOGRAFIA

In [ ]:
df_excel = df_excel_0.merge(df_excel_1, how='outer')

## JSON

In [ ]:
df_json = pd.read_json('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_6-Novos_dados_novas_analises/Datasets/cadastro_alunos.json')

In [ ]:
df_json

     tipo_curso                                          registros
0     GRADUACAO  [{"matricula_ou_siape": "2009029003.0", "tipo_...
1  POSGRADUACAO  [{"matricula_ou_siape": "2008112114.0", "tipo_...

In [ ]:
# pegando alunos apenas da graduação

df_json_alunos = pd.read_json(df_json['registros'][0])

In [ ]:
df_json_alunos['matricula_ou_siape'] = df_json_alunos['matricula_ou_siape'].astype(str)

In [ ]:
df_json_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62802 entries, 0 to 62801
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   matricula_ou_siape    62802 non-null  object
 1   tipo_vinculo_usuario  62802 non-null  object
 2   curso                 62802 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

## Juntar

In [ ]:
df_aluno = df_json_alunos.merge(df_excel, how='outer')

In [ ]:
cursos_selecionados = ['BIBLIOTECONOMIA', 'CIÊNCIAS SOCIAIS', 'COMUNICAÇÃO SOCIAL', 'DIREITO', 'FILOSOFIA', 'PEDAGOGIA']

In [ ]:
mask = []
for curso in df_aluno['curso']:
  resposta = curso in cursos_selecionados
  mask.append(resposta)

In [ ]:
df_aluno[mask]

      matricula_ou_siape tipo_vinculo_usuario               curso
0             2009029003   ALUNO DE GRADUAÇÃO           FILOSOFIA
1              200617346   ALUNO DE GRADUAÇÃO             DIREITO
5              200604856   ALUNO DE GRADUAÇÃO     BIBLIOTECONOMIA
9              200711601   ALUNO DE GRADUAÇÃO    CIÊNCIAS SOCIAIS
10            2008016110   ALUNO DE GRADUAÇÃO           PEDAGOGIA
...                  ...                  ...                 ...
72775         2011087766   ALUNO DE GRADUAÇÃO  COMUNICAÇÃO SOCIAL
72789         2013005750   ALUNO DE GRADUAÇÃO             DIREITO
72790         2013008037   ALUNO DE GRADUAÇÃO     BIBLIOTECONOMIA
72795         2014079614   ALUNO DE GRADUAÇÃO             DIREITO
72800        20170086533   ALUNO DE GRADUAÇÃO     BIBLIOTECONOMIA

[18833 rows x 3 columns]

In [ ]:
df_curso = df_final.query('ano_emprestimo >= 2015').merge(df_aluno[mask])

In [ ]:
df_curso

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU,ano_emprestimo,mes_emprestimo,dia_emprestimo,curso
0,2734939,L167050,NaT,2018-09-18 20:07:53.876,2018-10-09 19:02:45,20180154181,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.,2018,9,18,BIBLIOTECONOMIA
1,2980244,2011002215,NaT,2020-03-04 16:17:32.383,2020-12-23 10:39:30,20180154181,ALUNO DE GRADUAÇÃO,926348,Acervo Circulante,Biblioteca Setorial Prof. Horácio Nicolas Soli...,REGULAR,617,Ciências aplicadas.,2020,3,4,BIBLIOTECONOMIA
2,2779301,2011068173,NaT,2018-12-07 19:00:16.733,2018-12-18 17:57:52,20180154181,ALUNO DE GRADUAÇÃO,961032,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,340,Ciências sociais.,2018,12,7,BIBLIOTECONOMIA
3,2715367,2011068165,2018-09-03 10:19:51.805,2018-08-21 19:39:07.928,2018-09-19 19:57:17,20180154181,ALUNO DE GRADUAÇÃO,961024,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,372,Ciências sociais.,2018,8,21,BIBLIOTECONOMIA
4,2742219,2015041900,2018-10-15 23:24:27.755,2018-09-28 18:38:58.259,2018-11-13 20:22:30,20180154181,ALUNO DE GRADUAÇÃO,1206738,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,375,Ciências sociais.,2018,9,28,BIBLIOTECONOMIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212833,2986446,2019003558,2020-04-06 12:55:10.416,2020-03-13 08:45:15.420,NaT,20200023906,ALUNO DE GRADUAÇÃO,1316702,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,629,Ciências aplicadas.,2020,3,13,CIÊNCIAS SOCIAIS
212834,2986462,2016031756,NaT,2020-03-13 09:08:44.544,2020-03-16 10:02:48,20190121101,ALUNO DE GRADUAÇÃO,1240095,Acervo Circulante,Biblioteca Setorial Profª. Maria Lúcia da Cost...,ESPECIAL,94,Generalidades. Ciência e conhecimento.,2020,3,13,BIBLIOTECONOMIA
212835,2986464,2017035480,NaT,2020-03-13 09:16:50.082,NaT,20200144278,ALUNO DE GRADUAÇÃO,1335490,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,992,Geografia. Biografia. História.,2020,3,13,PEDAGOGIA
212836,2986990,2012022102,NaT,2020-03-13 21:41:01.524,2020-11-13 15:26:15,20190067212,ALUNO DE GRADUAÇÃO,982892,Acervo Circulante,Biblioteca Setorial Profª. Maria José Mamede G...,REGULAR,351,Ciências sociais.,2020,3,13,CIÊNCIAS SOCIAIS
212837,2986991,2011077904,NaT,2020-03-13 21:41:01.560,2020-11-13 15:25:20,20190067212,ALUNO DE GRADUAÇÃO,1123549,Acervo Circulante,Biblioteca Setorial Profª. Maria José Mamede G...,REGULAR,335,Ciências sociais.,2020,3,13,CIÊNCIAS SOCIAIS

In [ ]:
df_curso_final = df_curso[['ano_emprestimo', 'curso', 'id_emprestimo']].groupby(['ano_emprestimo', 'curso']).count().reset_index()

In [ ]:
df_curso_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ano_emprestimo  36 non-null     int64
 1   curso           36 non-null     object
 2   id_emprestimo   36 non-null     int64
dtypes: int64(2), object(1)
memory usage: 992.0+ bytes

In [ ]:
df_curso_final.rename(columns={'ano_emprestimo': 'Ano', 'curso' : 'Curso'}).pivot_table(index='Curso', columns='Ano', values='id_emprestimo',margins=True, aggfunc=sum, margins_name='TOTAL')

Ano                  2015   2016   2017   2018   2019  2020   TOTAL
Curso
BIBLIOTECONOMIA      7784   7044   7307   6378   5889   900   35302
CIÊNCIAS SOCIAIS     7489   6978   6918   6181   5788   825   34179
COMUNICAÇÃO SOCIAL   7147   7973   8253   6953   5885   796   37007
DIREITO              7665   7363   7885   7027   5861   905   36706
FILOSOFIA            6950   7576   7389   6296   5572   832   34615
PEDAGOGIA            7189   7153   7434   6518   5869   866   35029
TOTAL               44224  44087  45186  39353  34864  5124  212838

#7DaysOfCode - Python Pandas 7/7: Customização de tabelas

In [ ]:
df_json_pos = pd.read_json(df_json['registros'][1])
df_json_pos['matricula_ou_siape'] = df_json_pos['matricula_ou_siape'].astype(str)

In [ ]:
df_pos = df_final.merge(df_json_pos)
df_pos = df_pos[['ano_emprestimo', 'curso', 'id_emprestimo']].groupby(['ano_emprestimo', 'curso']).count().reset_index()

In [ ]:
df_pos_2 = df_pos.rename(columns={'ano_emprestimo': 'Ano', 'curso' : 'Curso'}).pivot_table(index='Curso', columns='Ano', values='id_emprestimo', aggfunc=sum)
df_pos_2 = df_pos_2[[2017, 2018, 2019]].reset_index()
df_pos_2['Curso'] = df_pos_2['Curso'].str.title()

In [ ]:
df_previsao = pd.read_table('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_7-Apresentando_resultados_em_HTML/Dataset/previsao')
df_previsao = df_previsao['curso previsao_2022'].str.split(expand=True)
df_previsao.rename(columns={0: 'Curso', 1: 2022}, inplace=True)
df_previsao['Curso'].replace('_', ' ', regex=True, inplace=True)
df_previsao['Curso'] = df_previsao['Curso'].str.title()

In [ ]:
df_pos_2017_2022 = df_pos_2.merge(df_previsao, left_index=True, right_index=True, suffixes=('', '_y'))
df_pos_2017_2022 = df_pos_2017_2022[['Curso', 2017, 2018, 2019, 2022]]
df_pos_2017_2022[2022] = df_pos_2017_2022[2022].astype(int)

In [ ]:
def variacao_porcentagem(coluna_1, coluna_2,df=df_pos_2017_2022):
  x = ((df[coluna_2] * 100) / df[coluna_1])
  x = x - 100
  return x.round(decimals=2)

In [ ]:
df_pos_2017_2022['2017~2018'] = variacao_porcentagem(2017, 2018)
df_pos_2017_2022['2018~2019'] = variacao_porcentagem(2018, 2019)
df_pos_2017_2022['2019~2022'] = variacao_porcentagem(2019, 2022)
df_pos_2017_2022 = df_pos_2017_2022[['Curso','2017~2018', '2018~2019', '2019~2022']]
df_pos_2017_2022 = df_pos_2017_2022.set_index('Curso')

In [ ]:
vermelho = 'color: red'
verde = 'color: green'

In [ ]:
df_pos_2017_2022.style.applymap(lambda x : vermelho if x < 0 else verde)